.background-animations {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

.floating-item {
    position: absolute;
    opacity: 0.9;
    width: 80px;
    height: auto;
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(10deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}



.chilli {
    top: 15%;
    left: 5%;
    animation: float 6s ease-in-out infinite;
    width: 160px;
}

.tomato {
    top: 40%;
    right: 1%;
    animation: float 6s linear infinite;
    width: 490px;
}

.onion {
    bottom: 20%;
    left: 15%;
    filter: blur(1.5px);
    animation: float 8s ease-in-out infinite reverse;
    width: 270px;
}

.chilli-2 {
    bottom: 10%;
    right: 25%;
    animation: float 7s ease-in-out infinite 1s;
    width: 350px;
    opacity: 0.6;
    filter: blur(4px);
}

.tomato-2 {
    top: 25%;
    left: 30%;
    animation: float 9s ease-in-out infinite 2s;
    width: 40px;
    opacity: 0.3;
    filter: blur(2px);
}

.onion-2 {
    top: 10%;
    right: 40%;
    animation: float 10s ease-in-out infinite;
    width: 50px;
    opacity: 0.4;
}