.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2%;
    backdrop-filter: blur(5px);
    width: 100%;
    position: fixed;
}

.navbar .logo {
    width: max(10%, 80px);
    filter: brightness(0) invert(1);
}

.navbar .profile {
    width: 40px;
}

.navbar-logout {
    background-color: transparent;
    border: 1px solid tomato;
    color: tomato;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.navbar-logout:hover {
    background-color: tomato;
    color: white;
}